<h1 class="title">Create a new task</h1>

<div class="container">
  <%= simple_form_for @task do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.input :completed, as: :boolean, wrapper_html: { class: 'input-checkbox' } %>
    <%= f.submit %>
  <% end %>

  <%= link_to "back", tasks_path %>


</div>
