<div>
  <h1 class="title"> <%= @task.title%><%=@task.completed.to_b ? ' âœ“' : 'â˜'%></h1>

</div>

<div class="container">

  <ul>
    <li class="font-weight-light ">
        <%= @task.details %>
        <%=  %></li>
  </ul>


  <div class="link_page" text-align>
    <%= link_to "ðŸ“", edit_task_path(@task) %>
    <%= link_to "ðŸ—‘ï¸",
                task_path(@task),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
    <%= link_to "ðŸ”™", tasks_path %>
  </div>

</div>
